/* line width */
body {
  --file-line-width: 1000px;
}

/* viewer font */
.markdown-rendered {
  font-family: "Noto Sans" !important;
}

/* reading mode text justification */
.markdown-preview-view p {
  text-align: justify;
  text-justify: inter-word;
}

/* source view and live preview text justification */
.markdown-source-view.mod-cm6 .cm-line {
  text-align: justify;
  text-justify: inter-word;
}

/* table centering */
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
