/* line width */
body {
  --file-line-width: 1000px;
}

/* viewer font */
.markdown-rendered {
  font-family: "Noto Sans" !important;
  font-size: 16px !important;
}

/* reading mode text justification */
.markdown-preview-view p {
  text-align: justify;
  text-justify: inter-word;
}

/* source view and live preview text justification */
.markdown-source-view.mod-cm6 .cm-line {
  text-align: justify;
  text-justify: inter-word;
}

/* align image to the left */
img[alt*="left"] {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

/* align image to the center */
img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* align image to the right */
img[alt*="right"] {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* table centering */
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
